@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'burtons';
    src: url('../public/Burtons.otf');
}

@font-face {
    font-family: 'prestige';
    src: url('../public/PrestigeEliteStd\ Bd.otf');
}